.main2{
    min-height: 100vh;
  width: 100%;
  background-color: rgb(46, 46, 46);
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  caret-color: transparent;
  
}
.main2 img{
    height: 350px;
    width: 200px;
    border-radius: 12px;
    display: block;
}