.main {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(46, 46, 46);
  padding: 1rem;
  color: white;
}

.search{
    display: flex;
 justify-content: center;
 gap: 0.4rem;
}
.inp{
     font-size: 20px;
     outline: none;
     border-radius:6px ;
     cursor: pointer;
     border: solid 2px;
     caret-color: rgb(253, 93, 0);
     padding:4px ;
}
.btn{
    border-radius:6px ;
     border: none;
     cursor: pointer;
     padding: 4px;
    caret-color: transparent;
}
.btn:hover{
    background-color: brown;
}
.movies{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    padding: 2rem;
    gap: 4rem;
    justify-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}