.card{
    height: 400px;
    width: 250px;
    background-color: rgb(111, 111, 110);
    border-radius: 12px;
    caret-color: transparent;
    box-shadow: 2px 2px 12px 3px rgb(212, 15, 77);
}
.card a{
    text-decoration: none;
  color: inherit;
}
.img{
    height: 70%;
    width: 100%;
    border-radius: 12px;
    padding:0.5rem;
    
}
.detail{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    gap: 0.4rem;
    align-items: center;
}
.img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    
}
.detail p{
    font-size: 12px;
    font-weight: bold;
}
.detail button{
    padding: 0.1rem;
    border-radius: 6px;
}
.detail button:hover{
    background-color: brown;
}